.sideCart {
    background-color: antiquewhite;
    height: 70vh;
    padding: 150px 10px;
    border-radius: 10px;
    position: sticky;
    top: 0;

}

.sideCart h4,
.sideCart p {
    padding-left: 20px;
}

.sideCart p {
    font-size: 17px;
}