.cart {
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: relative;
}

.cart img {
    width: 280px;
    border-radius: 15px;
    margin: 10px;
}

.cartInfo {
    padding: 15px;
    margin-bottom: 20px;
}

.cart button {
    width: 100%;
    background-color: #FF9900;
    position: absolute;
    bottom: 0px;
}